.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  flex-wrap: wrap;
  z-index: 1;
}
.mainImage {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 550px;
}
.mainImage img {
  margin: 0 auto;
  width: 100%;
  animation: spin 7s linear infinite reverse;
  position: relative;
}

@keyframes spin {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}

.mainTitle {
  max-width: 350px;
  font-weight: bold;
  font-size: var(--fs-xl);
  color: var(--c-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
