@import "../public/product-sans/stylesheet.css";

:root {
  --fs-md: clamp(20px, 1.1vw, 25px);
  --fs-sm: 0.8rem;
  --fs-lg: 1.3rem;
  --fs-xl: 2rem;

  --c-blue: hsl(216, 100%, 22%);
  --c-green: green;
  --c-white: white;
  --c-black: black;
  --c-grey: hsl(218, 13%, 88%);
  --c-lighblue: hsl(216, 100%, 35%);
  --c-lightgrey: #dcdfe470;
  --c-dark-gray: hsl(210, 10%, 23%);
  --filter-rec: invert(100%) sepia(11%) saturate(407%) hue-rotate(191deg)
    brightness(110%) contrast(81%);
  --mobile: 639px;
  --tablet: 1047px;
  --desktop: 1048px;
  --c-darker-gray: hsl(210, 10%, 53%);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Product", sans-serif;
  font-size: var(--fs-md);
  scrollbar-color: #002d7070 #fff;
  scrollbar-width: auto;
  scroll-behavior: smooth;
  font-weight: 300;
  background-color: var(--c-white);
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: var(--c-white);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--c-blue);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layoutMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  width: 100vw;
  gap: 20px;
}

.title {
  text-align: center;
  font-weight: bold;
  color: var(--c-blue);
  font-size: var(--fs-lg);
  margin: 0 auto 50px;
  max-width: 600px;
}

.btn {
  color: var(--c-white);
  background-color: var(--c-blue);
  padding: 10px 40px;
  font-size: var(--fs-md);
  font-weight: normal;
  border-radius: 5px;
  margin: 30px auto;
  transition: all 0.7s;
}
.btn:hover {
  transform: scale(1.07);
}

.snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  /* z-index: ; */

  background-color: var(--c-white);
}

.dark {
  --c-blue: hsl(216, 100%, 95%);
  --c-green: #ff7fff;
  --c-white: hsl(216, 100%, 12%);
  --c-black: white;
  --c-grey: hsla(216, 100%, 6%, 70%);
  --c-lighblue: hsl(216, 100%, 85%);
  --c-lightgrey: hsla(216, 100%, 12%, 70%);
  --c-dark-gray: hsl(210, 10%, 83%);
  --filter-rec: invert(15%) sepia(96%) saturate(4067%) hue-rotate(211deg)
    brightness(13%) contrast(101%);
  transition: all 1s;
}

.light {
  --c-blue: hsl(216, 100%, 22%);
  --c-green: green;
  --c-white: white;
  --c-black: black;
  --c-grey: hsl(218, 13%, 88%);
  --c-lighblue: hsl(216, 100%, 35%);
  --c-lightgrey: #dcdfe470;
  --c-dark-gray: hsl(210, 10%, 23%);
  --filter-rec: invert(100%) sepia(11%) saturate(407%) hue-rotate(191deg)
    brightness(110%) contrast(81%);

  transition: all 1s;
}

.myPad {
  padding: 0 15%;
}

@media (max-width: 639px) {
  .myPad {
    padding: 0;
  }
}

.myTheme,
.myTheme img {
  width: 25px;
}

.moon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(345deg) brightness(99%)
    contrast(102%);
}
